streamlit==1.48.1
streamlit-webrtc==0.62.4

tensorflow==2.19.0
mediapipe==0.10.14

opencv-python-headless==4.10.0.84

numpy==1.26.4
pandas==2.3.1
scikit-learn==1.7.1
joblib==1.5.1
Pillow==11.3.0

av==17.1.0
aiortc==1.15.0
